/*font-family: 'Montserrat', sans-serif;
font-family: 'Source Sans Pro', sans-serif;*/

*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}
.icon{
    margin-right: 5px;
    font-size: 20px;
}

/* CSS DEL NAVBAR */

.header{
    background: #132C33;
    padding: 10px;
    
}
    .header a{
        color: #D8E3E7;
        font-family: 'Montserrat', sans-serif;
    }
    .menu{
        display: flex;
        padding: 5px;
    }
        .ventanas{
            flex: 4 1 auto;
        }
        .log_reg{
            flex: 2 1 auto;
        }

/* CSS DEL CUERPO DE LAS PÁGINAS */

.cuerpo{
    background: #D8E3E7;
    padding: 10px;
}
    .superior{
        display: flex;
    }
        .superior img{
            background-color: #132c3380;
            width: 400px;
            height: 250px;
        }
        .superior p{
            font-size: 22px;
            font-family: 'Source Sans Pro', sans-serif;
        }
.form{
    background: #34525a67;
    padding: 10px;
    width: 35vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 10px;
    border: 3px solid #132C33;
}
    .button{
        padding: 5px;
        border: 2px solid #132C33;
        border-radius: 10px;
        background: #D8E3E7;
        color: #154350;
    }

/* CSS DEL PIÉ DE PÁGINA */

.pie_pagina{
    background: #132C33;
    padding: 10px;
    display: flex;
}
    .pie_pagina h5, h6, a{
        color: #D8E3E7;
        font-family: 'Montserrat', sans-serif;
    }
    .info{
        flex: 3 1 auto;
    }
    .contacto{
        flex: 2 1 auto;
    }