.cuerpo_forms{
    padding: 10px;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .form, .form_reg{
        background: #34525a67;
        padding: 10px;
        display: flex;
        flex-direction: column;
        font-family: 'Source Sans Pro', sans-serif;
        border-radius: 10px;
        border: 3px solid #132C33;
    }
    .form_reg{
        width: 400px;
    }
        .form_head{
            text-align: center;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 600;
            color: #154350;
        }
        .form_order{
            text-align: center;
        }
            /* Sentencia para eliminar las flechas de +- del input tipo number */
            .form_order input[type="number"]{
                -webkit-appearance: textfield !important;
                -moz-appearance: textfield !important;
            }
        .form_orderLog{
            display: flex;
            flex-direction: column;
        }
            .entrada{
                margin: 5px 10px;
                padding: 10px;
                border: 1px solid #132C33;
                border-radius: 10px;
            }
            .button{
                padding: 5px;
                border: 2px solid var(--nar-osc);
                border-radius: 10px;
                background: var(--blanco);
                color: var(--nar-osc);
                font-size: 18px;
                font-weight: 600;
                transition: 150ms;
            }
            .button:hover{
                transition: 150ms;
            }

