/*font-family: 'Montserrat', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Inter', sans-serif;*/

.cuerpo{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .superior, .logoMuni{
        text-align: center;
    }
    .superior{
        width: 30%;
    }
    .logoMuni{
        width: 15%;
    }
    .superior img{
        width: 100%;
    }
    .logoMuni img{
        width: 100%;
    }
@media all and (min-height:1080px){
    .cuerpo{
        min-height: 90vh;
    }
}
@media all and (max-height:870px){
    .cuerpo{
        min-height: 76vh;
    }
}
@media all and (max-width:1150px){
    .superior{
        width: 40%;
    }
    .logoMuni{
        width: 25%;
    }
}
@media all and (max-width:700px){
    .superior{
        width: 60%;
    }
    .logoMuni{
        width: 35%;
    }
}