/*font-family: Apple Chancery, cursive*/

.descripcion {
    width: 100%;
    height: auto;  
}
    .descripcion h1 {
        text-decoration: underline;
        font-weight: normal;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;
        padding-top: 17px;
        padding-bottom: 17px;
    }
    .descripcion p {
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 20px;
        margin-left: 45px;
        margin-right: 45px;
        text-align: justify;
        line-height: 130%;
        padding: 15px;
        background-color: #3B7096;
        color: rgb(255, 255, 255);
        
        
    }
    .contenedores {
        width: 100%;
        height: auto;
        float: left;
        padding: 7px;
        
    }
        .pasoshuerta {
            width: 50%;
            float: left;
        }
        .pasoshuerta ul {
            margin-left: 45px;
            margin-right: 45px;
        }
        .pasoshuerta h1 {
            font-weight: normal;
            text-decoration: underline;
            font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 22px;
            padding:15px;
            text-align: center;

        }
        .pasoshuerta li {
            text-align: center;
            background-color: #FFB442;
            margin-left: 30px;
            padding-right: auto;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 20px;
        }
        .pasoshuerta p {
            line-height: 130%;
            margin-left: 30px;
            font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 17px;
            text-align: justify;
            padding-top: 7px;
            padding-bottom: 7px;
        }
        .tutoriales {
            width: 50%;
            float: left;
            height: auto;
        }
        .tutoriales h1 {
            text-decoration: underline;
            font-weight: normal;
            font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 22px;
            padding-top: 15px;
            text-align: center;
        }
        .tutoriales iframe {
            padding-top: 15px;
            background-position:center;
            margin:auto;
            display: block;
        }
        .imagencultivar img {
            padding-top: 100px;
            margin: auto;
            display: block;
            width: 470px;
            height: 365px;
        }