*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}
body{
    background: #D8E3E7;
    font-family: 'Source Sans Pro', sans-serif;
}
.icon{
    margin-right: 5px;
    font-size: 25px;
}

/* CSS DEL NAVBAR */

.header{
    background: #132C33;
    padding: 10px 30px;
    height: 10vh;
    display: flex;
    align-items: center;
}
    .header a{
        color: #D8E3E7;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        margin: 0px 10px;
        transition: 500ms;
    }
    .header a:hover{
        color: #ffffff;
        transition: 500ms;
        font-size: 25px;
    }
    .menu{
        width: 100%;
        display: flex;
        padding: 15px;
    }
        .ventanas{
            flex: 5 1 auto;
        }
        .log_reg{
            flex: 0 1 auto;
        }
    
    .btn-ingre {
        background-color: #132C33;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        margin: 0px 10px;
        margin: 0px 10px;
        transition: 500ms;
        background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
    }
    .btn-regis {
        background-color: #132C33;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        margin: 0px 10px;
        margin: 0px 10px;
        transition: 500ms;
        background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
    
    }

/* CSS DEL PIÉ DE PÁGINA */

.pie_pagina{
    background: #132C33;
    padding: 10px 30px;
    display: flex;
    height: 10vh;
}
    .pie_pagina h5, .pie_pagina h6, .pie_pagina a{
        color: #D8E3E7;
        font-family: 'Montserrat', sans-serif;
        transition: 500ms;
    }
    .pie_pagina a:hover{
        color: #ffffff;
        transition: 500ms;
        font-size: 20px;
    }
    .info{
        display: flex;
        align-items: center;
        flex: 4 1 auto;
    }
    .contacto{
        flex: 0.5 1 auto;
    }
        .redes{
            display: flex;
            justify-content: space-around;
        }
        .celular{
            margin-left: 5px;
            text-align: center;
        }
        .admin{
            display: flex;
            justify-content: flex-end;
        }