/*
Paleta de colores
Azules
#3B7096
#96D3FF
#6FB3E3
Naranjas
#A67730
#FFB442
*/
:root
{
    --blanco: rgb(255, 255, 255);
    --oscuro: #3B7096;
    --nar-osc: #915700;
    --nar-clar: #FFB442;
}
*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}
body{
    background: var(--blanco);
    font-family: 'Source Sans Pro', sans-serif;
}
.icon{
    color: var(--blanco);
    margin-right: 5px;
    font-size: 25px;
}

/* CSS DEL NAVBAR */

.header{
    background: var(--oscuro);
    padding: 10px 30px;
    height: 10vh;
    display: flex;
    align-items: center;
}
    .header a{
        color: var(--blanco);
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        margin: 0px 10px;
        transition: 300ms;
    }
    .header a:hover{
        transition: 300ms;
        font-size: 25px;
    }
    .menu{
        width: 100%;
        display: flex;
        padding: 15px;
    }
        .ventanas{
            flex: 5 1 auto;
        }
        .log_reg{
            flex: 0 1 auto;
        }
    
    .btn-ingre, .btn-regis {
        background-color: Transparent;
        border: none;
    }

/* CSS DEL PIÉ DE PÁGINA */

.pie_pagina{
    background: var(--oscuro);
    padding: 10px 30px;
    display: flex;
    align-items: center;
    height: 10vh;
}
    .pie_pagina h5, .pie_pagina h6{
        color: var(--blanco);
        font-family: 'Montserrat', sans-serif;
        transition: 300ms;
    }
    .pie_pagina i:hover{
        transition: 300ms;
        font-size: 35px;
    }
    .info{
        display: flex;
        align-items: center;
        flex: 4 1 auto;
    }
    .contacto{
        display: flex;
        align-items: center;
        flex-direction: column;
        flex: 0.3 1 auto;
    }
        .redes{
            margin: 10px 0;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
        }
        .celular{
            text-align: center;
            width: 100%;
            font-size: 20px;
        }
        .admin{
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }
            .admin i{
                color: var(--blanco);
            }