/*
Paleta de colores
Azules
#3B7096
#96D3FF
#6FB3E3
Naranjas
#A67730
#FFB442

#3c4043 gris oscuro
#657482 gris claro
*/
:root
{
    --blanco: rgb(255, 255, 255);
    --oscuro: #3B7096;
    --nar-osc: #a76707;
    --nar-clar: #FFB442;
    --gris-clar: #657482;
    --gris-osc: #3c4043;
}
*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
}
html{
    font-size: 100%;
}
body{
    background: var(--blanco);
    font-family: 'Source Sans Pro', sans-serif;
}
.icon{
    color: var(--blanco);
    font-size: 1.5rem;
    padding: 0 0.25em;
}

/* CSS DEL NAVBAR */

.header{
    background: var(--oscuro);
    padding: 1em 1em;
    height: 10vh;
    max-height: 10vh;
    display: flex;
    align-items: center;
}
    .menu{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
        .ventanas{
            width: 45%;
        }
        .log_reg{
            width: 40%;
        }
        .ventanas_adm_der{
            width: 40%;
        }
        .ventanas_adm_izq{
            width: 50%;
        }
            .menu ul{
                display: flex;
                justify-content: space-evenly;
            }
            .ventanas a, .log_reg a{
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                color: var(--blanco);
                font-family: 'Montserrat', sans-serif;
                font-size: 1.875rem;
                transition: 150ms;
            }
            .ventanas a:hover, .log_reg a:hover{
                font-size: 2.125rem;
                color: rgba(255, 255, 255, 0.7);
            }
            .log_reg li a{
                text-align: center;
            }
            .btn-ingre, .btn-regis {
                background-color: Transparent;
                border: none;
            }
            .ventanas_adm_der a, .ventanas_adm_izq a{
                display: flex;
                flex-wrap: nowrap;
                color: var(--blanco);
                font-family: 'Montserrat', sans-serif;
                font-size: 1.25rem;
                transition: 150ms; 
            }
            .ventanas_adm_der a:hover, .ventanas_adm_izq a:hover{
                font-size: 1.5625rem;
                color: rgba(255, 255, 255, 0.7);
            }

/* CSS DEL PIÉ DE PÁGINA */

.pie_pagina{
    background: var(--oscuro);
    padding: 0 1em 0 2em;
    display: flex;
    align-items: center;
    height: 15vh;
    max-height: 15vh;
    justify-content: space-between;
}
    .info{
        width: 50%;
        display: flex;
        align-items: center;
    }
    .info h5, .celular h6{
        color: var(--blanco);
        font-family: 'Montserrat', sans-serif;
    }
    .info h5{
        font-size: 1.2rem;
    }
    .info span{
        font-size: 1.5rem;
    }
    .contacto{
        height: 100%;
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
        .icon_pie:hover{
            transition: 300ms;
            font-size: 2rem;
        }
        .redes{
            width: 50%;
            display: flex;
            justify-content: space-evenly;
        }
        .celular{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            font-size: 1.5rem;
        }
        .admin{
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }
            .admin i{
                color: var(--blanco);
            }

@media all and (max-width:1130px){
    html{
        font-size: 90%;
    }
    .ventanas{
        width: 60%;
    }   
}
@media all and (max-width:870px){
    html{
        font-size: 75%;
    }
}
@media all and (max-width:650px){
    .header{
        height: 15vh;
        max-height: 20vh;
    }
    .menu{
        height: 100%;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .ventanas, .log_reg{
        width: 80%;
    }
    .ventanas ul{
        flex-direction: column;
        align-items: center;
    }
    .log_reg ul{
        justify-content: space-evenly;
    }
    .ventanas_adm_der ul, .ventanas_adm_izq ul{
        flex-direction: column;
        align-items: center;
    }
    .ventanas_adm_der a:hover, .ventanas_adm_izq a:hover{
        font-size: 1.25rem;
        color: rgba(255, 255, 255, 0.7);
    }
}