.contenedortabla {
    width: 50%;
}
    .contenedortabla h1 {
        font-weight: normal;
        font-size: 2rem;
        margin-bottom: 0.5em;
        text-align: center;
        color: var(--gris-osc);
        text-shadow: 1px 1px 2px var(--gris-osc);
    }
    .tabla {
        text-align: center;
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 2rem;
    }
        .tabla th, td {
            padding: 1rem;
            border: solid 1px #3c4043;
        }
        th {
            font-size: 1.5rem;
            color: white;
            background-color:#FFB442;
            border-bottom: solid 1px #3c4043;
        }
        tr:nth-child(even){
            background-color: #ffbe5d9f;
        }
.contenedor {
    width: 95%;
    background: #ddd;
    padding: 1em 0;
    display: flex;
    justify-content: space-around;
}
        .sectorfotos {
            width: 45%;
            display: flex;
            flex-direction: column;
        }
            .sectorfotos h1 , .sectorvideos h1{
                margin: 2rem;
                font-weight: normal;
                font-size: 2rem;
                text-align: center;
                color: var(--gris-osc);
                text-shadow: 1px 1px 2px var(--gris-osc);
            }
            .fotos{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
            }
                .fotos img {
                    width: 19rem;
                    margin: 1rem 0;
                }
        .sectorvideos {
            width: 45%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
            .sectorvideos video {
                width: 18rem;
            }
    .maps {
        width: 50%;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .maps h1 {
        margin: 1rem 0;
        font-weight: normal;
        font-size: 2rem;
        text-align: center;
        color: var(--gris-osc);
        text-shadow: 1px 1px 2px var(--gris-osc);
    }

@media all and (max-width:870px){
    .contenedortabla{
        width: 80%;
    }
    .contenedor{
        flex-direction: column;
        justify-content: center;
    }
        .sectorfotos, .sectorvideos{
            width: 100%;
        }
    .maps{
        width: 90%;
    }
}