*{
    font-family:'insert', sans-serif;
}
.titulo {
    width: 100%;
    height: auto;  
}
.titulo h1 {
    font-size: 65px;
    text-align: center;
    margin: 100px 0 25px 0;
    color: var(--gris-osc);
    text-shadow: 2px 2px 2px var(--gris-osc);
}
.text p{
    font-family:'insert', sans-serif;
    font-size: 20px;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 25px;
    text-align: justify;
    line-height: 150%;
    padding: 15px;
    color: var(--gris-clar);
}
.contenedortabla {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding-bottom: 25px;
}

    .contenedortabla h1 {
        font-weight: normal;
        font-size: 28px;
        padding:15px;
        text-align: center;
        color: var(--gris-osc);
        text-shadow: 1px 1px 2px var(--gris-osc);
    }

.tabla {
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}
    .tabla th, td {
        padding: 12px;
        border: solid 1px #3c4043;
    }

    th {
        background-color:#FFB442;
        color: white;
        border-bottom: solid 1px #3c4043;
    }

    tr:nth-child(even){
        background-color: #ddd;
    }



.contenedor {
    width: 90%;
    height: auto;
    padding-top: 15px;
    margin-left: 45px;
    margin-right:45px;
    float: left;
    background: #ddd;

}
        .sectorfotos {
            width: 45%;
            height: auto;
            float: left;
            flex-wrap: wrap; 
        }
        .sectorfotos h1 {
            font-weight: normal;
            font-size: 28px;
            padding-bottom:15px ;
            text-align: center;
            color: var(--gris-osc);
            text-shadow: 1px 1px 2px var(--gris-osc);
        }
        .sectorfotos img {
            float: left;
            padding-top: 15px;
            margin-left: 35px;
            width: 250px;
            height: 300px;
            margin-bottom: 30px;
            object-fit: cover;

        }
        .sectorvideos {
            width: 38%;
            height: auto;
            float: left;
            text-align: center;
            
        }
        .sectorvideos h1 {
            font-weight: normal;
            font-size: 28px;
            padding-bottom: 15px;
            margin-left: 170px;
            text-align: center;
            color: var(--gris-osc);
            text-shadow: 1px 1px 2px var(--gris-osc);
        }
        .sectorvideos video {
            width: 50%;
            height: 300px;
            padding-top: 150px;
            margin-left: 170px;
            margin-bottom: 30px;
            
        }
.contenedor2 {
    width: 100%;
    height: auto;
    padding-top: 15px; 
    margin-left: 45px;
    margin-right: 45px;
    float: left;

}
        .maps {
            width: 60%;
            height: auto;
            float: left;
            margin-bottom: 30px;
        }
        .maps h1 {
            font-weight: normal;
            font-size: 28px;
            padding:15px;
            color: var(--gris-osc);
            text-shadow: 1px 1px 2px var(--gris-osc);
        }
        .logo {
            text-align: center;
            width:300px;
            height: auto;
            float: left;
            object-fit: cover;
        }
        .logo img {
            margin-top: 200px;
            margin-left: 50px;
            width: 250px;
            height: 200px;
        }
