@media only screen and (max-width: 600px) {

.col-12 {width: 100%;}
.td {width: 100%;}
td,h1,input{font-size: 25px;}
br, td, tr{

  margin-left:5px;
  margin-right:5px;
  padding-left:5px;
  padding-right: 5px;

 }
}


@media only screen and (min-width: 600px) {
  .td {width: 100%;}

.col-12 {width: 100%;}
td,h1,input{font-size: 86px;}

br, td, tr{
  margin-left:15px;
  margin-right:15px;
  padding-left:15px;
  padding-right: 15px;

 }
}

@media only screen and (min-width: 768px) {
.col-12 {width: 80%;}

br, td, tr{
  margin-left:35px;
  margin-right:35px;
  padding-left:35px;
  padding-right: 35px;

 }
}

@media only screen and (min-width: 992px) {
.col-12 {width: 100%;}
td,h1,input{font-size: 56px;}

br, td, tr{
  margin-left:35px;
  margin-right:35px;
  padding-left:35px;
  padding-right: 35px;

 }
}

@media only screen and (min-width: 1200px) {
  .col-12 {width: 100%;}
  td,h1,input{font-size: 56px;}

  br, td, tr{
    margin-left:35px;
    margin-right:35px;
    padding-left:35px;
    padding-right: 35px;

   }
}
