.cuerpo_ped_adm{
    padding: 5px;
    height: auto;
    min-height: 75vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
    .nuevo_pedido{
        width: 300px;
        height: 350px;
        margin: 10px;
        padding: 10px;
        background: var(--nar-clar);
        border-radius: 10%;
        border: 3px solid var(--nar-osc);
        text-align: center;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
    }
        .nuevo_pedido h1{
            color: var(--nar-osc);
            font-size: 30px;
            margin: 5px;
            letter-spacing: 1px;
            background: var(--blanco);
            border-radius: 10px;
        }
        .inputs_adm{
            display: flex;
            flex-flow: column;
            align-items: center;
        }
            .inputs_adm input{
                width: 200px;
                margin: 5px 0;
                padding: 5px;
                border-radius: 5px;
                border: 2px solid var(--nar-osc);
            }
.pedidos_vigentes{
    text-align: center;
}
    .pedidos_vigentes h1{
        color: var(--nar-osc);
    }
    .primera_fila td, .fila_pedido td{
        padding: 5px;
        letter-spacing: 1px;
    }
    .primera_fila td{
        text-transform: uppercase;
        border: 3px solid var(--nar-osc);
        background: var(--blanco);
        color: var(--nar-osc);
    }
    .fila_pedido td{
        border: 3px solid var(--nar-clar);
        background: var(--nar-osc);
        color: var(--blanco);
        font-weight: 600;
    }
    .fila_pedido a{
        color: var(--blanco);
    }