.cuerpo_ped{
    padding: 5px;
    height: auto;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
    .orden_pedidos{
        display: flex;
        flex-wrap: wrap;
    }
    .pedido{
        width: 300px;
        height: 300px;
        margin: 10px;
        padding: 10px;
        background: var(--nar-clar);
        border-radius: 10%;
        border: 3px solid var(--nar-osc);
        text-align: center;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }
        .temporada label{
            margin: 2px;
            padding: 2px;
            border-radius: 5px;
            font-weight: 600;
            letter-spacing: 1px;
            color: var(--blanco);
            font-size: 20px;
        }
        .temporada{
            margin-top: 10px;
            text-align: center;
            display: flex;
            flex-direction: column;
        }
            .temporada h4{
                color: var(--nar-osc);
                font-size: 30px;
                margin: 5px;
                letter-spacing: 1px;
                background: var(--blanco);
                border-radius: 10px;
            }
        .centro_pedido{
            display: flex;
            flex-flow: column;
            justify-content: space-around;
            align-items: center;
        }
            .centro_pedido label{
                padding: 2px;
                border-radius: 5px;
                letter-spacing: 1px;
                background: #99610c79;
                color: var(--blanco);
            }
            .centro_pedido h5{
                color: var(--nar-osc);
                padding: 5px 0;
                font-size: 20px;
            }
                .lugar{
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                }
                    .lugar div{
                        margin: 10px 0;
                    }
            .pedido_usuario{
                margin-bottom: 10px;
            }

.formulario{
    transition: 300ms;
    color: var(--nar-osc);
}
.formulario:hover{
    font-size: 20px;
    transition: 300ms;
}