.cuerpo_ped{
    padding: 5px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
    .pedido{
        padding: 5px;
        width: 400px;
        background: #34525a67;
        border-radius: 10px;
        border: 3px solid #132C33;
    }
        .temporada, .retiro, .lugar{
            text-align: center;
        }

.formulario{
    color: #000;
    background: #34525a67;
    border-radius: 5px;
    border: 2px solid #132C33;
}
.ped_realiz{
    padding: 5px;
    width: 300px;
    background: #59a8be;
    border: 3px solid rgb(41, 14, 138);
    border-radius: 3px;
    color: rgb(20, 9, 51);
}
    .ped_realiz h1{
        text-align: center;
    }
    .info_ped{
        padding: 10px 5px;
    }
