input[type="number"]{
    -webkit-appearance: textfield !important;
    -moz-appearance: textfield !important;
}
.overlay{
    background: rgba(0,0,0,.4);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlay.desactive { 
    visibility: hidden;
}
    .cuerpo_forms, .cuerpo_forms_regis{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Source Sans Pro', sans-serif;
    }
    .cuerpo_forms{
        width: 50%;
    }
    .cuerpo_forms_regis{
        width: 75%;
    }
        .popup {
            background: #f8f8f8;
            box-shadow: 0px 0px 5px 0px #3b70968e;
            border-radius: 10px;
            border: 2px solid var(--oscuro);
            font-family: 'Montserrat', sans-serif;
            text-align: center;
            padding: 1em;
            width: 50%;
            transition: 1s ease all;
            transform: scale(1);
            opacity: 1;
        }
        .popup.desactive{
            transform: scale(0.5);
            opacity: 0;
        }
            .btn-cerrar-popup {
                width: 1rem;
                font-size: 1rem;
                float: right;
                color: #BBBBBB;
                transition: .3s ease all;
            }
            .btn-cerrar-popup:hover {
                color: #000;
            }
            .form_head h1{
                font-weight: 500;
                font-size: 1.375rem;
                padding: 0.6em;
            }
            .contenedor-inputs input{
                font-size: 1.125rem;
                margin: 0.5em 0;
                padding: 0.5em;
                border: 2px solid #132C33;
                border-radius: 5px;
                text-align: center;
            }
                .form_order input{
                    width: 60%;
                }
                .form_order_regis input{
                    width: 80%;
                }
                .form_order{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                .form_order_regis{
                    display: flex;
                }
                .button-modal, .button-modal-regis{
                    font-size: 1.125rem;
                    font-weight: 600;
                    padding: 0.5em;
                    border: 2px solid #132C33;
                    border-radius: 10px;
                    background: var(--oscuro);
                    color: var(--blanco);
                    transition: 150ms;
                    cursor: pointer;
                }
                .button-modal{
                    width: 40%;
                }
                .button-modal-regis{
                    width: 80%;
                }
                .button-modal:hover, .button-modal-regis:hover{
                    background: var(--blanco);
                    color: var(--oscuro);
                    transition: 150ms;
                }
/* ESTILOS DEL APARTADO DE LOS DESARROLLADORES */
.desplegable{
    width: 80%;
    padding: 1rem;
    background-color: #ffb342d0;
    border: 5px solid #a76707;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}
    .button_dev{
        font-size: 1.5rem;
        width: 1.5rem;
        height: 2rem;
        display: flex;
        color: #a76707;
        justify-content: center;
        align-items: center;
        float: right;
        transition: 150ms;
    }
    .button_dev:hover{
        color: #a767075e;
        font-size: 2rem;
    }
    .personas{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 2rem;
    }
        .integrantes{
            width: 30%;
            height: 8rem;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
        .integrantes h1{
            color: #3f2705;
            font-size: 2.5rem;
        }
            .redes_dev{
                width: 100%;
                display: flex;
                justify-content: space-evenly;
            }
            .redes_dev a i{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 4.5rem;
                height: 4.5rem;
                font-size: 3rem;
                color: #3f2705;
                transition: 300ms;
            }
            .redes_dev a i:hover{
                background-color: #3f2705;
                color: #d3af7b;
                border-radius: 50%;
            }

@media all and (max-width:860px){
    .form_order_regis{
        flex-direction: column;
    }
}
@media all and (max-width:670px){
    .cuerpo_forms{
        width: 100%;
    }
    .cuerpo_forms_regis{
        width: 100%;
    }
}